
@{
    ViewBag.Title = "The Coffee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <!-- menu -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <h2 class="menu_home_title line_after_heading section_heading">Menu</h2>
            <div class="viewmore_menu_home"><a class="animate_btn" href="@Url.Action("Category","Home")" title="xem thêm tất cả sản phẩm">xem thêm tất cả sản phẩm</a></div>
        </div>
        <div class="clearfix"></div>
        <div class="menu_list_home flex_wrap display_flex">
            <div class="menu_item">
                <div class="menu_item_image">
                    <a href="/products/tra-buoi-mat-ong" title="TRÀ OOLONG BƯỞI MẬT ONG"><img src="//product.hstatic.net/1000075078/product/tra_buoi_5c4c5ce2d4e44042a069ec9011ef1a9f_large.jpg" alt="tra oolong buoi mat ong"></a>
                </div>
                <div class="menu_item_info">
                    <h3><a href="/products/tra-buoi-mat-ong" title="TRÀ OOLONG BƯỞI MẬT ONG">TRÀ OOLONG BƯỞI MẬT ONG</a></h3>
                    <div class="price_product_item">50,000 đ</div><a class="menu_item_action animate_btn" href="@Url.Action("Index","Order")" target="_blank" title="Mua Ngay">Mua ngay</a>	<a class="menu_item_action_view" href="/products/tra-buoi-mat-ong">Tìm hiểu thêm</a>
                </div>
            </div>
            <div class="menu_item">
                <div class="menu_item_image">
                    <a href="/products/tra-sua-mac-ca-tran-chau-trang" title="TRÀ SỮA MẮC CA TRÂN CHÂU TRẮNG"><img src="//product.hstatic.net/1000075078/product/macca_d56d5ab8dde4455aa7f19d29b5fff763_large.jpg" alt="tra sua mac ca tran chau trang"></a>
                    <div class="best_seller"><img class="svg-best-seller" src="//file.hstatic.net/1000075078/file/orion_diploma.svg" alt=""><span>Bán chạy nhất</span></div>
                </div>
                <div class="menu_item_info">
                    <h3><a href="/products/tra-sua-mac-ca-tran-chau-trang" title="TRÀ SỮA MẮC CA TRÂN CHÂU TRẮNG">TRÀ SỮA MẮC CA TRÂN CHÂU TRẮNG</a></h3>
                    <div class="price_product_item">45,000 đ</div><a class="menu_item_action animate_btn" href="@Url.Action("Index","Order")" target="_blank" title="Mua Ngay">Mua ngay</a>	<a class="menu_item_action_view" href="/products/tra-sua-mac-ca-tran-chau-trang">Tìm hiểu thêm</a>
                </div>
            </div>
            <div class="menu_item">
                <div class="menu_item_image">
                    <a href="/products/tra-dao-cam-sa" title="TRÀ ĐÀO CAM SẢ"><img src="//product.hstatic.net/1000075078/product/tra_dao_5f3925d9bfca4d0abc17f95b05fff5f7_large.jpg" alt="tra dao cam sa"></a>
                    <div class="best_seller"><img class="svg-best-seller" src="//file.hstatic.net/1000075078/file/orion_diploma.svg" alt=""><span>Bán chạy nhất</span></div>
                </div>
                <div class="menu_item_info">
                    <h3><a href="/products/tra-dao-cam-sa" title="TRÀ ĐÀO CAM SẢ">TRÀ ĐÀO CAM SẢ</a></h3>
                    <div class="price_product_item">45,000 đ</div><a class="menu_item_action animate_btn" href="@Url.Action("Index","Order")" target="_blank" title="Mua Ngay">Mua ngay</a>	<a class="menu_item_action_view" href="/products/tra-dao-cam-sa">Tìm hiểu thêm</a>
                </div>
            </div>
            <div class="menu_item"><div class="menu_item_image"><a href="/products/espresso-1" title="ESPRESSO"><img src="//product.hstatic.net/1000075078/product/espressonong_f60fc6f25baa404c8a8bfc40c396f27e_large.jpg" alt="espresso"></a></div><div class="menu_item_info"><h3><a href="/products/espresso-1" title="ESPRESSO">ESPRESSO</a></h3><div class="price_product_item">35,000 đ</div><a class="menu_item_action animate_btn" href="@Url.Action("Index","Order")" target="_blank" title="Mua Ngay">Mua ngay</a><a class="menu_item_action_view" href="/products/espresso-1">Tìm hiểu thêm</a></div></div><div class="menu_item"><div class="menu_item_image"><a href="/products/caramel-macchiato" title="CARAMEL MACCHIATO"><img src="//product.hstatic.net/1000075078/product/caramel_macchiato_24ff98b746e84b7aba702c01a60b1a52_large.jpg" alt="caramel macchiato"></a></div><div class="menu_item_info"><h3><a href="/products/caramel-macchiato" title="CARAMEL MACCHIATO">CARAMEL MACCHIATO</a></h3><div class="price_product_item">55,000 đ</div><a class="menu_item_action animate_btn" href="@Url.Action("Index","Order")" target="_blank" title="Mua Ngay">Mua ngay</a><a class="menu_item_action_view" href="/products/caramel-macchiato">Tìm hiểu thêm</a></div></div><div class="menu_item"><div class="menu_item_image"><a href="/products/latte" title="LATTE"><img src="//product.hstatic.net/1000075078/product/latte_dd6427d058294df5aa4745e5a6035a93_large.jpg" alt="latte"></a></div><div class="menu_item_info"><h3><a href="/products/latte" title="LATTE">LATTE</a></h3><div class="price_product_item">45,000 đ</div><a class="menu_item_action animate_btn" href="@Url.Action("Index","Order")" target="_blank" title="Mua Ngay">Mua ngay</a><a class="menu_item_action_view" href="/products/latte">Tìm hiểu thêm</a></div></div>
        </div>
    </div>
</div>
<!-- //menu -->

<section class="blog_home">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h2 class="blog_home_title line_after_heading section_heading">Blog</h2>
                <div class="viewmore_blog_home"><a class="animate_btn" href="/blogs/news" title="XEM THÊM">XEM THÊM</a></div>
            </div>
            <div class="clearfix"></div>
            <div class="blog_lists flex_wrap display_flex">
                <div class="top_blog_home blog_item flex_direction_column display_flex">
                    <a class="article_item_image" href="/blogs/news/taste-of-xmas-cham-vi-giang-sinh"><div class="article_img" style="background-image: url(//file.hstatic.net/1000075078/article/1120-tch-p1_1200x450_cf6d3a26460a400f87873f102b3c46e3_debed83e1e16465c85aa30918a8e04a8_1024x1024.jpg)"></div></a>
                    <div class="article_item_info">
                        <span class="article_tags">Tin tức</span>
                        <h3><a href="/blogs/news/taste-of-xmas-cham-vi-giang-sinh">TASTE OF XMAS - CHẠM VỊ GIÁNG SINH</a></h3>
                        <div class="meta"><time>-13 ngày trước</time></div>
                        <div class="short_des">Không khí se lạnh len lỏi khắp ngõ ngách phố phường báo hiệu một mùa Giáng sinh nữa lại về.&nbsp;Giáng sinh năm nay có thể sẽ khác hơn, đặc biệt...</div>
                        <div class="article_item_action">
                            <a class="animate_btn" href="/blogs/news/taste-of-xmas-cham-vi-giang-sinh">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="blog_item flex_direction_column display_flex">
                    <a class="article_item_image" href="/blogs/news/the-coffee-house-dong-hanh-cung-ban-go-green" title="The Coffee House đồng hành cùng bạn " go="" green"!"=""><div class="article_img" style="background-image: url(//file.hstatic.net/1000075078/article/banner_blog_3f13682cd0454d2587e10ba3a8c17e6b_grande.jpg)"></div></a>
                    <div class="article_item_info display_flex flex_direction_column justify-content-spbetween">
                        <span class="article_tags">Tin tức</span>
                        <h3><a href="/blogs/news/the-coffee-house-dong-hanh-cung-ban-go-green" title="The Coffee House đồng hành cùng bạn " go="" green"!"="">The Coffee House đồng hành cùng bạn "Go Green"!</a></h3>
                        <p>Tại The Coffee House, hành trình "Go Green" được lan toả mỗi ngày bằng những hành động thiết thực mang tính cộng đồng. Chúng tôi mong muốn truyền cảm hứng...</p>
                        <div class="article_item_action">
                            <a class="animate_btn" href="/blogs/news/the-coffee-house-dong-hanh-cung-ban-go-green">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="blog_item flex_direction_column display_flex">
                    <a class="article_item_image" href="/blogs/news/top-10-cua-hang-the-coffee-house-ban-nen-trai-nghiem-tai-ha-noi" title="Top 10 cửa hàng The Coffee House bạn nên trải nghiệm tại Hà Nội"><div class="article_img" style="background-image: url(//file.hstatic.net/1000075078/article/hoang-dao-thuy---img_9896---coverbanner_148f4464f54b4089a9e62e49aed77a13_grande.jpg)"></div></a>
                    <div class="article_item_info display_flex flex_direction_column justify-content-spbetween">
                        <span class="article_tags">Tin tức</span>
                        <h3><a href="/blogs/news/top-10-cua-hang-the-coffee-house-ban-nen-trai-nghiem-tai-ha-noi" title="Top 10 cửa hàng The Coffee House bạn nên trải nghiệm tại Hà Nội">Top 10 cửa hàng The Coffee House bạn nên trải nghiệm tại Hà Nội</a></h3>
                        <p>Dạo quanh các con phố Hà Nội, bạn nhất định phải ghé qua 10 cửa hàng The Coffee House sau đây để vừa nhâm nhi thức uống yêu thích, vừa...</p>
                        <div class="article_item_action">
                            <a class="animate_btn" href="/blogs/news/top-10-cua-hang-the-coffee-house-ban-nen-trai-nghiem-tai-ha-noi">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="blog_item flex_direction_column display_flex">
                    <a class="article_item_image" href="/blogs/news/7-ngay-free-upsize-yeu-ban-nu-khong-the-nao-cai" title="7 NGÀY FREE UPSIZE - YÊU BẠN NỮ KHÔNG THỂ NÀO CAI"><div class="article_img" style="background-image: url(//file.hstatic.net/1000075078/article/freeupsize_kv3banner_blog_5e4a1b905f854512a0101ee804a4142c_52922068dfc3491ba67372bea83d2f38_grande.jpg)"></div></a>
                    <div class="article_item_info display_flex flex_direction_column justify-content-spbetween">
                        <span class="article_tags">Tin tức</span>
                        <h3><a href="/blogs/news/7-ngay-free-upsize-yeu-ban-nu-khong-the-nao-cai" title="7 NGÀY FREE UPSIZE - YÊU BẠN NỮ KHÔNG THỂ NÀO CAI">7 NGÀY FREE UPSIZE - YÊU BẠN NỮ KHÔNG THỂ NÀO CAI</a></h3>
                        <p>Tuần này, The Coffee House&nbsp;thật háo hức để gửi tặng một nửa Thế giới xinh đẹp chương trình vô cùng ngọt ngào "7 ngày Free Upsize - Yêu bạn nữ...</p>
                        <div class="article_item_action">
                            <a class="animate_btn" href="/blogs/news/7-ngay-free-upsize-yeu-ban-nu-khong-the-nao-cai">Xem thêm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="store_home">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <h2 class="store_home_title line_after_heading section_heading">cửa hàng</h2>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="store_slider owl-carousel owl-loaded">

                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-2172px, 0px, 0px); transition: all 0s ease 0s; width: 5430px;">
                            <div class="owl-item cloned" style="width: 1086px;">
                                <div class="store_slider_item display_flex">
                                    <div class="store_slider_content justify-content-center display_flex store_slider_col"><p class="store_slider_title">THE COFFEE HOUSE SIGNATURE</p><p class="store_slider_des">Với những nghệ nhân rang tâm huyết và đội ngũ Barista tài năng cùng những câu chuyện cà phê đầy cảm hứng, ngôi nhà Signature 19B Phạm Ngọc Thạch, Q.3, TP.HCM là không gian dành riêng cho những ai trót yêu say đắm hương vị của những hạt cà phê tuyệt hảo.</p></div>
                                    <div class="store_slider_img store_slider_col">
                                        <img src="//file.hstatic.net/1000075078/file/3e0a8783_master.jpg" alt="Store Slider 1">
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 1086px;">
                                <div class="store_slider_item display_flex">
                                    <div class="store_slider_content justify-content-center display_flex store_slider_col"><p class="store_slider_title">THE COFFEE HOUSE SIGNATURE</p><p class="store_slider_des">Với những nghệ nhân rang tâm huyết và đội ngũ Barista tài năng cùng những câu chuyện cà phê đầy cảm hứng, ngôi nhà Signature 19B Phạm Ngọc Thạch, Q.3, TP.HCM là không gian dành riêng cho những ai trót yêu say đắm hương vị của những hạt cà phê tuyệt hảo.</p></div>
                                    <div class="store_slider_img store_slider_col">
                                        <img src="//file.hstatic.net/1000075078/file/3e0a8783_master.jpg" alt="Store Slider 1">
                                    </div>
                                </div>
                            </div><div class="owl-item active" style="width: 1086px;">
                                <div class="store_slider_item display_flex">
                                    <div class="store_slider_content justify-content-center display_flex store_slider_col"><p class="store_slider_title">THE COFFEE HOUSE SIGNATURE</p><p class="store_slider_des">Với những nghệ nhân rang tâm huyết và đội ngũ Barista tài năng cùng những câu chuyện cà phê đầy cảm hứng, ngôi nhà Signature 19B Phạm Ngọc Thạch, Q.3, TP.HCM là không gian dành riêng cho những ai trót yêu say đắm hương vị của những hạt cà phê tuyệt hảo.</p></div>
                                    <div class="store_slider_img store_slider_col">
                                        <img src="//file.hstatic.net/1000075078/file/3e0a8783_master.jpg" alt="Store Slider 1">
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 1086px;">
                                <div class="store_slider_item display_flex">
                                    <div class="store_slider_content justify-content-center display_flex store_slider_col"><p class="store_slider_title">THE COFFEE HOUSE SIGNATURE</p><p class="store_slider_des">Với những nghệ nhân rang tâm huyết và đội ngũ Barista tài năng cùng những câu chuyện cà phê đầy cảm hứng, ngôi nhà Signature 19B Phạm Ngọc Thạch, Q.3, TP.HCM là không gian dành riêng cho những ai trót yêu say đắm hương vị của những hạt cà phê tuyệt hảo.</p></div>
                                    <div class="store_slider_img store_slider_col">
                                        <img src="//file.hstatic.net/1000075078/file/3e0a8783_master.jpg" alt="Store Slider 1">
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 1086px;">
                                <div class="store_slider_item display_flex">
                                    <div class="store_slider_content justify-content-center display_flex store_slider_col"><p class="store_slider_title">THE COFFEE HOUSE SIGNATURE</p><p class="store_slider_des">Với những nghệ nhân rang tâm huyết và đội ngũ Barista tài năng cùng những câu chuyện cà phê đầy cảm hứng, ngôi nhà Signature 19B Phạm Ngọc Thạch, Q.3, TP.HCM là không gian dành riêng cho những ai trót yêu say đắm hương vị của những hạt cà phê tuyệt hảo.</p></div>
                                    <div class="store_slider_img store_slider_col">
                                        <img src="//file.hstatic.net/1000075078/file/3e0a8783_master.jpg" alt="Store Slider 1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><svg class="svg-inline--fa fa-angle-left fa-w-8" aria-hidden="true" data-prefix="fas" data-icon="angle-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path></svg><!-- <i class="fas fa-angle-left"></i> --></button><button type="button" role="presentation" class="owl-next"><svg class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg><!-- <i class="fas fa-angle-right"></i> --></button></div><div class="owl-dots disabled"></div>
                </div>
                <div class="store_slider_2 owl-carousel owl-loaded"><div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-3069px, 0px, 0px); transition: all 0.25s ease 0s; width: 5301px;"><div class="owl-item cloned" style="width: 249px; margin-right: 30px;"><div class="store_slider_item"><div class="store_slider_image" style="background-image: url(//rewards.thecoffeehouse.com/wp-content/uploads/comingsoon-1.jpg);"></div><div class="store_name">Lô số T109, Tầng Một TTTM Aeonmall Hải Phòng Lê Chân, Đường Hồ Sen – Cầu Rào 2</div></div></div><div class="owl-item cloned" style="width: 249px; margin-right: 30px;"><div class="store_slider_item"><div class="store_slider_image" style="background-image: url(//rewards.thecoffeehouse.com/wp-content/uploads/comingsoon-1.jpg);"></div><div class="store_name">18T1 Lê Văn Lương</div></div></div><div class="owl-item cloned" style="width: 249px; margin-right: 30px;"><div class="store_slider_item"><div class="store_slider_image" style="background-image: url(//rewards.thecoffeehouse.com/wp-content/uploads/comingsoon-1.jpg);"></div><div class="store_name">SH2, Tầng 1 Dự án Chung cư cao cấp Homyland Riverside, Nguyễn Duy Trinh</div></div></div><div class="owl-item cloned" style="width: 249px; margin-right: 30px;"><div class="store_slider_item"><div class="store_slider_image" style="background-image: url(//rewards.thecoffeehouse.com/wp-content/uploads/comingsoon-1.jpg);"></div><div class="store_name">số 201 Minh Khai</div></div></div><div class="owl-item cloned" style="width: 249px; margin-right: 30px;"><div class="store_slider_item"><div class="store_slider_image" style="background-image: url(//rewards.thecoffeehouse.com/wp-content/uploads/comingsoon-1.jpg);"></div><div class="store_name">17T3 Hoàng Đạo Thúy</div></div></div><div class="owl-item" style="width: 249px; margin-right: 30px;"><div class="store_slider_item"><div class="store_slider_image" style="background-image: url(//rewards.thecoffeehouse.com/wp-content/uploads/comingsoon-1.jpg);"></div><div class="store_name">349 Vũ Tông Phan</div></div></div><div class="owl-item" style="width: 249px; margin-right: 30px;"><div class="store_slider_item"><div class="store_slider_image" style="background-image: url(//rewards.thecoffeehouse.com/wp-content/uploads/comingsoon-1.jpg);"></div><div class="store_name">Lô CT1-A-01, Dự án Gamuda Gardens</div></div></div><div class="owl-item" style="width: 249px; margin-right: 30px;"><div class="store_slider_item"><div class="store_slider_image" style="background-image: url(//rewards.thecoffeehouse.com/wp-content/uploads/comingsoon-1.jpg);"></div><div class="store_name">Số 02 Tòa Park 5 Vinhomes Central Park, 720A Điện Biên Phủ</div></div></div><div class="owl-item" style="width: 249px; margin-right: 30px;"><div class="store_slider_item"><div class="store_slider_image" style="background-image: url(//rewards.thecoffeehouse.com/wp-content/uploads/comingsoon-1.jpg);"></div><div class="store_name">Lô L1-23 TTTM Vincom Mega Mall Ocean Park</div></div></div><div class="owl-item" style="width: 249px; margin-right: 30px;"><div class="store_slider_item"><div class="store_slider_image" style="background-image: url(//rewards.thecoffeehouse.com/wp-content/uploads/comingsoon-1.jpg);"></div><div class="store_name">Lô số T109, Tầng Một TTTM Aeonmall Hải Phòng Lê Chân, Đường Hồ Sen – Cầu Rào 2</div></div></div><div class="owl-item" style="width: 249px; margin-right: 30px;"><div class="store_slider_item"><div class="store_slider_image" style="background-image: url(//rewards.thecoffeehouse.com/wp-content/uploads/comingsoon-1.jpg);"></div><div class="store_name">18T1 Lê Văn Lương</div></div></div><div class="owl-item active" style="width: 249px; margin-right: 30px;"><div class="store_slider_item"><div class="store_slider_image" style="background-image: url(//rewards.thecoffeehouse.com/wp-content/uploads/comingsoon-1.jpg);"></div><div class="store_name">SH2, Tầng 1 Dự án Chung cư cao cấp Homyland Riverside, Nguyễn Duy Trinh</div></div></div><div class="owl-item active" style="width: 249px; margin-right: 30px;"><div class="store_slider_item"><div class="store_slider_image" style="background-image: url(//rewards.thecoffeehouse.com/wp-content/uploads/comingsoon-1.jpg);"></div><div class="store_name">số 201 Minh Khai</div></div></div><div class="owl-item active" style="width: 249px; margin-right: 30px;"><div class="store_slider_item"><div class="store_slider_image" style="background-image: url(//rewards.thecoffeehouse.com/wp-content/uploads/comingsoon-1.jpg);"></div><div class="store_name">17T3 Hoàng Đạo Thúy</div></div></div><div class="owl-item cloned active" style="width: 249px; margin-right: 30px;"><div class="store_slider_item"><div class="store_slider_image" style="background-image: url(//rewards.thecoffeehouse.com/wp-content/uploads/comingsoon-1.jpg);"></div><div class="store_name">349 Vũ Tông Phan</div></div></div><div class="owl-item cloned" style="width: 249px; margin-right: 30px;"><div class="store_slider_item"><div class="store_slider_image" style="background-image: url(//rewards.thecoffeehouse.com/wp-content/uploads/comingsoon-1.jpg);"></div><div class="store_name">Lô CT1-A-01, Dự án Gamuda Gardens</div></div></div><div class="owl-item cloned" style="width: 249px; margin-right: 30px;"><div class="store_slider_item"><div class="store_slider_image" style="background-image: url(//rewards.thecoffeehouse.com/wp-content/uploads/comingsoon-1.jpg);"></div><div class="store_name">Số 02 Tòa Park 5 Vinhomes Central Park, 720A Điện Biên Phủ</div></div></div><div class="owl-item cloned" style="width: 249px; margin-right: 30px;"><div class="store_slider_item"><div class="store_slider_image" style="background-image: url(//rewards.thecoffeehouse.com/wp-content/uploads/comingsoon-1.jpg);"></div><div class="store_name">Lô L1-23 TTTM Vincom Mega Mall Ocean Park</div></div></div><div class="owl-item cloned" style="width: 249px; margin-right: 30px;"><div class="store_slider_item"><div class="store_slider_image" style="background-image: url(//rewards.thecoffeehouse.com/wp-content/uploads/comingsoon-1.jpg);"></div><div class="store_name">Lô số T109, Tầng Một TTTM Aeonmall Hải Phòng Lê Chân, Đường Hồ Sen – Cầu Rào 2</div></div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><svg class="svg-inline--fa fa-angle-left fa-w-8" aria-hidden="true" data-prefix="fas" data-icon="angle-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path></svg><!-- <i class="fas fa-angle-left"></i> --></button><button type="button" role="presentation" class="owl-next"><svg class="svg-inline--fa fa-angle-right fa-w-8" aria-hidden="true" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path></svg><!-- <i class="fas fa-angle-right"></i> --></button></div><div class="owl-dots disabled"></div></div>
            </div>
        </div>
    </div>
</section>
   

